*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f7f2;
    font-size: larger;
}

/*Header*/
.header{
    width: 100%;
    background: linear-gradient(150deg,#66bb6a,#328336);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    top: 0;
    height: 87px;
    z-index: 10;
    position: sticky;
    padding-right: 20px;
}
.logo{
    display: flex;
    align-items: center;
    padding: 13px;
    gap: 13px;
}
.logo img{
    width: 60px;
    height: 60px;
    border: 3px solid white;
    border-radius: 50%;
}

.menu{
    display: flex;
}
.menu li a{
    color: white;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    transition: 0.3s;
    padding: 15px;
}
.menu li a:hover{
    background-color: #89c189;
    border-radius: 7px;
    padding: 10px;
    transition: 0.4s;
    color: white;
}
.show{
    background-color: #89c189;
    padding: 7px;
    border-radius: 10px;
}
#menu-check{
    display: none;
}
.menu_icon{
    display: none;
    font-size: 30px;
    padding-right: 13px;
}
@media(max-width:1000px){
    .menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 20px;
        background-color: #3c853c;
        padding: 20px;
        border-radius: 10px;
        width: 40%;
        line-height: 50px;
    }
    
    #menu-check:checked ~ .menu{
        display: flex;
    }
    .menu_icon{
        display: block;
    }
}
.hero-container{
    background: url(images/benefits_challenges.jpg) no-repeat center;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content{
    background-color: rgba(255,255,255,0.4);
    width: 650px;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
}
.hero-content h2{
    font-size: 45px;
    margin-bottom: 20px;
    color: #1b571e;
}
.hero-content p{
    font-size: 22px;
    margin-bottom: 25px;
    line-height: 1.6;
}

/* TITLE */

.title{
    text-align: center;
    color: #1b571e;
    margin-top: 10px;
    font-size: 50px;
}

.Title{
    text-align: center;
    color: #1b571e;
    margin-top: 20px;
    font-size: 50px;
}

/* CARDS */

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card{
    width: 450px;
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    color: black;
    box-shadow: 5px 7px 10px rgb(200, 200, 200);
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.05);
}

.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}

.card h2{
    margin-top: 10px;
    margin-bottom: 10px;
}



.Card{
    width: 450px;
    background: white;
    margin: 15px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    color: black;
    box-shadow: 5px 7px 10px rgb(200, 200, 200);
    transition: 0.3s;
}

.Card:hover{
    transform: scale(1.05);
}

.Card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}

.Card h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Footer*/

.footer{
    background: linear-gradient(to right, #66bb6a,#328336);
    color: white;
    padding: 20px;
    text-align: center;
}
.ft-container{
    display: flex;
    justify-content: space-around;
}
.ft-container a{
    color: white;
    text-decoration: none;
}
.ft-container a:hover{
    color: #055209;
}
.social-icons a{
    margin: 7px;
    font-size: 30px;
}
.twitter i{
    color: #47d7ff;
}
.youtube i{
    color: #d50000;
}
.tiktok i{
    color: black;
}
 
@media (max-width:768px){
    .ft-container{
        flex-direction: column;
        gap: 20px;
    }
}
 
/* RESPONSIVE */

@media (max-width: 1200px){

    .top-section{
        flex-direction: column;
    }

    .welcome,
    .announcement{
        width: 100%;
    }

    .title{
        font-size: 35px;
    }

    .Title{
        font-size: 35px;
    }

}